html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overscroll-behavior: contain;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;  
  overflow: hidden;
  background-color: #ffffff;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; 
}

/* preventing horizontal scroll */
body {
  overflow-x: hidden;
}